* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

a {
    text-decoration: none;
    /* all: unset; */
    cursor: pointer;
    transition: 0.5s;
}
header .container {
    box-shadow: 1px 0px 10px 0px #00000027;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 80px;
}

header .nav {
    margin-right: 20px;
}

header .nav button {
    color: #000;
    border: 1px solid #000 !important;
    transition: 0.3s;
    transition: 0.3s;
}
header .nav button:hover {
    background-color: #000;
    color: #fff;
}

header .nav a {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #00000075;
    padding: 4px 8px;
}

header .nav a:hover {
    background-color: #000;
    color: #fff;
}
.exit {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000000ce;
    display: none;
}

.exit div{
    border: 1px solid #ffffff00;
    width: 50%;
    height: 300px;
    background-color: #0000009d;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: right;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #ffffff42;
}

.exit div h1 {
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
}

.exit div #close {
    display: inline-block;
    text-align: right;
    padding: 15px;
    font-size: 30px;
    cursor: pointer;
}

.exit div #close:active {
    scale: 0.8;
}

.exit div a {
    background-color: #fff;
    display: block;
    margin: auto;
    width: 100px;
    color: #000;
    padding: 10px 30px;
    margin-top: 80px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}

.exit div a:hover {
    scale: 0.9;
}

/* ############ */

.card-body #addProduct {
    border: none;
    font-weight: 600;
    transition: 0.3s;
    background-color: rgba(255, 68, 0, 0.938);

}
.card-body #deleteProduct {
    border: none;
    font-weight: 600;
    transition: 0.3s;
    background-color: #000;
    color: #fff;
    transition: 0.3s;
}

.card-body #deleteProduct:hover {
    scale: 0.9;
    background-color: #000000de;
}

.card-body #addProduct:hover {
    scale: 0.9;
    background-color: rgba(255, 68, 0, 0.767);
}

.container .row .card {
    transition: 0.2s;
}

.card-img-top {
    height: 200px;
}

.container .row .card:hover {
    rotate: 1deg;
}

.shoppingAll {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #ffffffe8;
}

#closeShopping {
    padding: 15px;
    font-size: 40px;
    cursor: pointer;
    transition: 0.1s;
}

#closeShopping:hover {
    scale: 0.8
}

#product {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ffffffef;
    display: none;
}